@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Możesz zostawić te ustawienia dla ładniejszych czcionek */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {


  .neo-section {
    @apply w-full max-w-4xl border-4 bg-white border-black rounded-3xl p-6 shadow-[8px_8px_0px_0px_#000];
  }


  .neo-btn {
    @apply border-4 border-black rounded-2xl px-6 py-2 bg-yellow-400 font-black uppercase italic shadow-[4px_4px_0px_0px_#000] transition-all active:shadow-none active:translate-x-0.5 active:translate-y-0.5;
  }


  .neo-input {
    @apply border-4 border-black rounded-xl px-4 py-2 bg-white font-bold outline-none focus:ring-4 focus:ring-yellow-400 transition-all placeholder:text-slate-400;
  }

  .neo-label {
    @apply block text-xs font-black uppercase tracking-widest mb-1 ml-1 text-slate-700;
  }
}